:root {
  --header-size: 5rem;
  --CR: #D90000;
  --EN: #FF8400;
  --VU: #FFD740;
  --NT: #7AD600;
  --NT: #7AD600;
  --LC: #006400;
  --Unknown: #808080;
}

@font-face {
  font-family: Flaviotte;
  src: url('../library/fonts/Flaviotte.otf') format("opentype");
}

.cr-color { color: var(--CR) }
.en-color { color: var(--EN) }
.vu-color { color: var(--VU) }
.nt-color { color: var(--NT) }
.lc-color { color: var(--LC) }

.cr-bg-color { background-color: var(--CR) }
.en-bg-color { background-color: var(--EN) }
.vu-bg-color { background-color: var(--VU) }
.nt-bg-color { background-color: var(--NT) }
.lc-bg-color { background-color: var(--LC) }

* {
	margin: 0;
	padding: 0;
}

body {
  font-family: "Flaviotte";
  background-attachment: scroll;
}

.category-div {
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
  font-size: large;
  font-weight: bold;
  background-color: whitesmoke;
  border: 3px solid rgb(1, 22, 107);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

.page-content {
  margin-top: var(--header-size);
}

.demo-bg {
  background-image: url("../images/photo-1511497584788-876760111969.avif");
  opacity: 0.2;
  position: fixed;
  left: 0;
  top: var(--header-size);
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
}

.background-layout > img {
  opacity: 0.1;
  width: 100%;
}

.headline-text {
  margin-top: 0.25rem;
  font-family: "Flaviotte";
  color: #FFCC00;
}

.headline {
  position: fixed;
  background-color: #003399;
  width: 100%;
  height: var(--header-size);
  top: 0;
  border: 1px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.chart-container {
  height: fit-content;
  width: fit-content;
  background-color: rgb(229, 245, 229);
  padding: 2rem;
  border: 1px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.button {
  border-radius: 0.5rem;
  margin: 0.25rem;
}